/*MARKERS*/
.marker.attack { background-image: url(markers75/attack.webp); background-size: 35px 35px; }


/* ARMIES (45x45) */
.army_jp { background-image: url(pieces/army_jp.png); background-size: 35px 70px; }
.air_jp { background-image: url(pieces/air_jp.png); background-size: 35px 70px; }
.navy_jp { background-image: url(pieces/navy_jp.png); background-size: 35px 70px; }
.hq_jp { background-image: url(pieces/hq_jp.png); background-size: 35px 70px; }
.army_us { background-image: url(pieces/army_us.png); background-size: 35px 70px; }
.air_us { background-image: url(pieces/air_us.png); background-size: 35px 70px; }
.navy_us { background-image: url(pieces/navy_us.png); background-size: 35px 70px; }
.hq_us { background-image: url(pieces/hq_us.png); background-size: 35px 70px; }


/* CARDS */
.card_ap_0{background-image:url(cards/card_ap_0.gif)}
.card_ap_1{background-image:url(cards/card_ap_1.gif)}
.card_ap_2{background-image:url(cards/card_ap_2.gif)}
.card_ap_3{background-image:url(cards/card_ap_3.gif)}
.card_ap_4{background-image:url(cards/card_ap_4.gif)}
.card_ap_5{background-image:url(cards/card_ap_5.gif)}
.card_ap_6{background-image:url(cards/card_ap_6.gif)}
.card_ap_7{background-image:url(cards/card_ap_7.gif)}

.card_jp_0{background-image:url(cards/card_jp_0.gif)}
.card_jp_1{background-image:url(cards/card_jp_1.gif)}
.card_jp_2{background-image:url(cards/card_jp_2.gif)}
.card_jp_3{background-image:url(cards/card_jp_3.gif)}
.card_jp_4{background-image:url(cards/card_jp_4.gif)}
.card_jp_5{background-image:url(cards/card_jp_5.gif)}
.card_jp_6{background-image:url(cards/card_jp_6.gif)}
.card_jp_7{background-image:url(cards/card_jp_7.gif)}

