/*MARKERS*/
.marker.attack { background-image: url(markers75/attack.webp);  }
.marker.landing { background-image: url(markers75/landing.webp);  }
.marker.oos { background-image: url(markers75/ap_oos.webp);  }
.marker.control_jp { background-image: url(markers75/control_jp.png);  }
.marker.capture_jp { background-image: url(markers75/capture_jp.png);  }
.marker.control_ap { background-image: url(markers75/control_ap.png);  }
.marker.capture_ap { background-image: url(markers75/capture_ap.png);  }
.marker.pow { background-image: url(markers75/pow_square.png);  }
.marker.pow_target { background-image: url(markers75/pow_target.png);  }
.marker.strat_bombing { background-image: url(markers75/strat_bombing.png);  }
.marker.agreement_jp { background-image: url(markers75/jp_ageement.jpg);  }
.marker.agreement_ap { background-image: url(markers75/ap_ageement.jpg);  }
.marker.rivalry_ap { background-image: url(markers75/ap_rivalry.jpg);  }
.marker.rivalry_jp { background-image: url(markers75/jp_rivalry.jpg);  }
.marker.asp_jp { background-image: url(markers75/jp_asp.jpg);  }
.marker.asp_b_jp { background-image: url(markers75/jp_asp_b.jpg);  }
.marker.asp_nb_jp { background-image: url(markers75/jp_asp_nb.jpg);  }
.marker.aspu_jp { background-image: url(markers75/jp_aspu.jpg);  }
.marker.asp_ap { background-image: url(markers75/ap_asp.jpg);  }
.marker.asp_ap_1 { background-image: url(markers75/ap_asp_1.jpg);  }
.marker.aspu_ap { background-image: url(markers75/ap_aspu.jpg);  }
.marker.aspu_ap_1 { background-image: url(markers75/ap_aspu_1.jpg);  }
.marker.wie { background-image: url(markers75/wie.jpg);  }
.marker.pw { background-image: url(markers75/pw.jpg);  }
.marker.turn_pmt { background-image: url(markers75/turn_pmt.jpg);  }
.marker.turn_tr { background-image: url(markers75/turn_tr.jpg);  }
.marker.resource_jp { background-image: url(markers75/jp_resources.jpg);  }
.marker.resource_jp_1 { background-image: url(markers75/jp_resources_1.jpg);  }
.marker.pass_jp { background-image: url(markers75/jp_pass.jpg);  }
.marker.pass_ap { background-image: url(markers75/ap_pass.jpg);  }
.marker.india_status { background-image: url(markers75/india.png);  }
.marker.india_status_surrender { background-image: url(markers75/india_status_surrender.png);  }
.marker.alaska { background-image: url(markers75/alaska_occupied.png);  }
.marker.hawaii { background-image: url(markers75/hawaii_occupied.png);  }
.marker.future_offensive_ap { background-image: url(markers75/fo_ap.png);  }
.marker.future_offensive_jp { background-image: url(markers75/fo_jp.png);  }
.marker.future_offensive_inactive { background-image: url(markers75/fo_inactive.png);  }
.marker.kwai_river { background-image: url(markers75/kwai.png);  }
.marker.road { background-image: url(markers75/route.png);  }
.marker.china { background-image: url(markers75/china.png);  }
.marker.burma_road { background-image: url(markers75/burma_road_no_hump.png);  }
.marker.burma_road_hump { background-image: url(markers75/burma_road_hump.png);  }
.marker.china_offensive { background-image: url(markers75/china_offensive.png);  }
.marker.divisions_china { background-image: url(markers75/divisions_china.png);  }
.marker.air_repl { background-image: url(markers75/air_rep.png);  }
.marker.naval_repl { background-image: url(markers75/naval_rep.png);  }


/* ARMIES (45x45) */
.air_br { background-image: url(pieces/air_br.png); background-size: 136px 70px; }
.air_jp { background-image: url(pieces/air_jp.png); background-size: 441px 70px; }
.air_jp_navy { background-image: url(pieces/air_jp_navy.png); background-size: 407px 70px; }
.air_us { background-image: url(pieces/air_us.png); background-size: 548px 70px; }
.air_us_marine { background-image: url(pieces/air_us_marine.png); background-size: 135px 70px; }
.army_aus { background-image: url(pieces/army_aus.png); background-size: 204px 70px; }
.army_br { background-image: url(pieces/army_br.png); background-size: 407px 70px; }
.army_cn { background-image: url(pieces/army_cn.png); background-size: 103px 70px; }
.army_jp_1 { background-image: url(pieces/army_jp_1.png); background-size: 409px 70px; }
.army_jp_2 { background-image: url(pieces/army_jp_2.png); background-size: 306px 70px; }
.army_us { background-image: url(pieces/army_us.png); background-size: 408px 70px; }
.cv_jp { background-image: url(pieces/cv_jp.png); background-size: 306px 70px; }
.cv_us { background-image: url(pieces/cv_us.png); background-size: 647px 70px; }
.force_aus { background-image: url(pieces/force_aus.png); background-size: 68px 70px; }
.force_dutch { background-image: url(pieces/force_dutch.png); background-size: 375px 70px; }
.hq_br { background-image: url(pieces/hq_br.png); background-size: 70px 70px; }
.hq_joint { background-image: url(pieces/hq_joint.png); background-size: 70px 70px; }
.hq_jp { background-image: url(pieces/hq_jp.png); background-size: 135px 70px; }
.hq_us { background-image: url(pieces/hq_us.png); background-size: 135px 70px; }
.marine_jp { background-image: url(pieces/marine_jp.png); background-size: 170px 70px; }
.marine_us { background-image: url(pieces/marine_us.png); background-size: 303px 70px; }
.navy_br { background-image: url(pieces/navy_br.png); background-size: 272px 70px; }
.navy_jp { background-image: url(pieces/navy_jp.png); background-size: 340px 70px; }
.navy_us { background-image: url(pieces/navy_us.png); background-size: 478px 70px; }


/* CARDS */
.card_ap_0{background-image:url(cards/card_ap_0.gif)}
.card_ap_1{background-image:url(cards/card_ap_01.gif)}
.card_ap_2{background-image:url(cards/card_ap_02.gif)}
.card_ap_3{background-image:url(cards/card_ap_03.gif)}
.card_ap_4{background-image:url(cards/card_ap_04.gif)}
.card_ap_5{background-image:url(cards/card_ap_05.gif)}
.card_ap_6{background-image:url(cards/card_ap_06.gif)}
.card_ap_7{background-image:url(cards/card_ap_07.gif)}
.card_ap_8{background-image:url(cards/card_ap_08.gif)}
.card_ap_9{background-image:url(cards/card_ap_09.gif)}
.card_ap_10{background-image:url(cards/card_ap_10.gif)}
.card_ap_11{background-image:url(cards/card_ap_11.gif)}
.card_ap_12{background-image:url(cards/card_ap_12.gif)}
.card_ap_13{background-image:url(cards/card_ap_13.gif)}
.card_ap_14{background-image:url(cards/card_ap_14.gif)}
.card_ap_15{background-image:url(cards/card_ap_15.gif)}
.card_ap_16{background-image:url(cards/card_ap_16.gif)}
.card_ap_17{background-image:url(cards/card_ap_17.gif)}
.card_ap_18{background-image:url(cards/card_ap_18.gif)}
.card_ap_19{background-image:url(cards/card_ap_19.gif)}
.card_ap_20{background-image:url(cards/card_ap_20.gif)}
.card_ap_21{background-image:url(cards/card_ap_21.gif)}
.card_ap_22{background-image:url(cards/card_ap_22.gif)}
.card_ap_23{background-image:url(cards/card_ap_23.gif)}
.card_ap_24{background-image:url(cards/card_ap_24.gif)}
.card_ap_25{background-image:url(cards/card_ap_25.gif)}
.card_ap_26{background-image:url(cards/card_ap_26.gif)}
.card_ap_27{background-image:url(cards/card_ap_27.gif)}
.card_ap_28{background-image:url(cards/card_ap_28.gif)}
.card_ap_29{background-image:url(cards/card_ap_29.gif)}
.card_ap_30{background-image:url(cards/card_ap_30.gif)}
.card_ap_31{background-image:url(cards/card_ap_31.gif)}
.card_ap_32{background-image:url(cards/card_ap_32.gif)}
.card_ap_33{background-image:url(cards/card_ap_33.gif)}
.card_ap_34{background-image:url(cards/card_ap_34.gif)}
.card_ap_35{background-image:url(cards/card_ap_35.gif)}
.card_ap_36{background-image:url(cards/card_ap_36.gif)}
.card_ap_37{background-image:url(cards/card_ap_37.gif)}
.card_ap_38{background-image:url(cards/card_ap_38.gif)}
.card_ap_39{background-image:url(cards/card_ap_39.gif)}
.card_ap_40{background-image:url(cards/card_ap_40.gif)}
.card_ap_41{background-image:url(cards/card_ap_41.gif)}
.card_ap_42{background-image:url(cards/card_ap_42.gif)}
.card_ap_43{background-image:url(cards/card_ap_43.gif)}
.card_ap_44{background-image:url(cards/card_ap_44.gif)}
.card_ap_45{background-image:url(cards/card_ap_45.gif)}
.card_ap_46{background-image:url(cards/card_ap_46.gif)}
.card_ap_47{background-image:url(cards/card_ap_47.gif)}
.card_ap_48{background-image:url(cards/card_ap_48.gif)}
.card_ap_49{background-image:url(cards/card_ap_49.gif)}
.card_ap_50{background-image:url(cards/card_ap_50.gif)}
.card_ap_51{background-image:url(cards/card_ap_51.gif)}
.card_ap_52{background-image:url(cards/card_ap_52.gif)}
.card_ap_53{background-image:url(cards/card_ap_53.gif)}
.card_ap_54{background-image:url(cards/card_ap_54.gif)}
.card_ap_55{background-image:url(cards/card_ap_55.gif)}
.card_ap_56{background-image:url(cards/card_ap_56.gif)}
.card_ap_57{background-image:url(cards/card_ap_57.gif)}
.card_ap_58{background-image:url(cards/card_ap_58.gif)}
.card_ap_59{background-image:url(cards/card_ap_59.gif)}
.card_ap_60{background-image:url(cards/card_ap_60.gif)}
.card_ap_61{background-image:url(cards/card_ap_61.gif)}
.card_ap_62{background-image:url(cards/card_ap_62.gif)}
.card_ap_63{background-image:url(cards/card_ap_63.gif)}
.card_ap_64{background-image:url(cards/card_ap_64.gif)}
.card_ap_65{background-image:url(cards/card_ap_65.gif)}
.card_ap_66{background-image:url(cards/card_ap_66.gif)}
.card_ap_67{background-image:url(cards/card_ap_67.gif)}
.card_ap_68{background-image:url(cards/card_ap_68.gif)}
.card_ap_69{background-image:url(cards/card_ap_69.gif)}
.card_ap_70{background-image:url(cards/card_ap_70.gif)}
.card_ap_71{background-image:url(cards/card_ap_71.gif)}
.card_ap_72{background-image:url(cards/card_ap_72.gif)}
.card_ap_73{background-image:url(cards/card_ap_73.gif)}
.card_ap_74{background-image:url(cards/card_ap_74.gif)}
.card_ap_75{background-image:url(cards/card_ap_75.gif)}
.card_ap_76{background-image:url(cards/card_ap_76.gif)}
.card_ap_77{background-image:url(cards/card_ap_77.gif)}
.card_ap_78{background-image:url(cards/card_ap_78.gif)}
.card_ap_79{background-image:url(cards/card_ap_79.gif)}
.card_ap_80{background-image:url(cards/card_ap_80.gif)}
.card_ap_81{background-image:url(cards/card_ap_81.gif)}
.card_ap_82{background-image:url(cards/card_ap_82.gif)}
.card_ap_83{background-image:url(cards/card_ap_83.gif)}
.card_ap_84{background-image:url(cards/card_ap_84.gif)}

.card_jp_0{background-image:url(cards/card_jp_0.gif)}
.card_jp_1{background-image:url(cards/card_jp_01.gif)}
.card_jp_2{background-image:url(cards/card_jp_02.gif)}
.card_jp_3{background-image:url(cards/card_jp_03.gif)}
.card_jp_4{background-image:url(cards/card_jp_04.gif)}
.card_jp_5{background-image:url(cards/card_jp_05.gif)}
.card_jp_6{background-image:url(cards/card_jp_06.gif)}
.card_jp_7{background-image:url(cards/card_jp_07.gif)}
.card_jp_8{background-image:url(cards/card_jp_08.gif)}
.card_jp_9{background-image:url(cards/card_jp_09.gif)}
.card_jp_10{background-image:url(cards/card_jp_10.gif)}
.card_jp_11{background-image:url(cards/card_jp_11.gif)}
.card_jp_12{background-image:url(cards/card_jp_12.gif)}
.card_jp_13{background-image:url(cards/card_jp_13.gif)}
.card_jp_14{background-image:url(cards/card_jp_14.gif)}
.card_jp_15{background-image:url(cards/card_jp_15.gif)}
.card_jp_16{background-image:url(cards/card_jp_16.gif)}
.card_jp_17{background-image:url(cards/card_jp_17.gif)}
.card_jp_18{background-image:url(cards/card_jp_18.gif)}
.card_jp_19{background-image:url(cards/card_jp_19.gif)}
.card_jp_20{background-image:url(cards/card_jp_20.gif)}
.card_jp_21{background-image:url(cards/card_jp_21.gif)}
.card_jp_22{background-image:url(cards/card_jp_22.gif)}
.card_jp_23{background-image:url(cards/card_jp_23.gif)}
.card_jp_24{background-image:url(cards/card_jp_24.gif)}
.card_jp_25{background-image:url(cards/card_jp_25.gif)}
.card_jp_26{background-image:url(cards/card_jp_26.gif)}
.card_jp_27{background-image:url(cards/card_jp_27.gif)}
.card_jp_28{background-image:url(cards/card_jp_28.gif)}
.card_jp_29{background-image:url(cards/card_jp_29.gif)}
.card_jp_30{background-image:url(cards/card_jp_30.gif)}
.card_jp_31{background-image:url(cards/card_jp_31.gif)}
.card_jp_32{background-image:url(cards/card_jp_32.gif)}
.card_jp_33{background-image:url(cards/card_jp_33.gif)}
.card_jp_34{background-image:url(cards/card_jp_34.gif)}
.card_jp_35{background-image:url(cards/card_jp_35.gif)}
.card_jp_36{background-image:url(cards/card_jp_36.gif)}
.card_jp_37{background-image:url(cards/card_jp_37.gif)}
.card_jp_38{background-image:url(cards/card_jp_38.gif)}
.card_jp_39{background-image:url(cards/card_jp_39.gif)}
.card_jp_40{background-image:url(cards/card_jp_40.gif)}
.card_jp_41{background-image:url(cards/card_jp_41.gif)}
.card_jp_42{background-image:url(cards/card_jp_42.gif)}
.card_jp_43{background-image:url(cards/card_jp_43.gif)}
.card_jp_44{background-image:url(cards/card_jp_44.gif)}
.card_jp_45{background-image:url(cards/card_jp_45.gif)}
.card_jp_46{background-image:url(cards/card_jp_46.gif)}
.card_jp_47{background-image:url(cards/card_jp_47.gif)}
.card_jp_48{background-image:url(cards/card_jp_48.gif)}
.card_jp_49{background-image:url(cards/card_jp_49.gif)}
.card_jp_50{background-image:url(cards/card_jp_50.gif)}
.card_jp_51{background-image:url(cards/card_jp_51.gif)}
.card_jp_52{background-image:url(cards/card_jp_52.gif)}
.card_jp_53{background-image:url(cards/card_jp_53.gif)}
.card_jp_54{background-image:url(cards/card_jp_54.gif)}
.card_jp_55{background-image:url(cards/card_jp_55.gif)}
.card_jp_56{background-image:url(cards/card_jp_56.gif)}
.card_jp_57{background-image:url(cards/card_jp_57.gif)}
.card_jp_58{background-image:url(cards/card_jp_58.gif)}
.card_jp_59{background-image:url(cards/card_jp_59.gif)}
.card_jp_60{background-image:url(cards/card_jp_60.gif)}
.card_jp_61{background-image:url(cards/card_jp_61.gif)}
.card_jp_62{background-image:url(cards/card_jp_62.gif)}
.card_jp_63{background-image:url(cards/card_jp_63.gif)}
.card_jp_64{background-image:url(cards/card_jp_64.gif)}
.card_jp_65{background-image:url(cards/card_jp_65.gif)}
.card_jp_66{background-image:url(cards/card_jp_66.gif)}
.card_jp_67{background-image:url(cards/card_jp_67.gif)}
.card_jp_68{background-image:url(cards/card_jp_68.gif)}
.card_jp_69{background-image:url(cards/card_jp_69.gif)}
.card_jp_70{background-image:url(cards/card_jp_70.gif)}
.card_jp_71{background-image:url(cards/card_jp_71.gif)}
.card_jp_72{background-image:url(cards/card_jp_72.gif)}
.card_jp_73{background-image:url(cards/card_jp_73.gif)}
.card_jp_74{background-image:url(cards/card_jp_74.gif)}
.card_jp_75{background-image:url(cards/card_jp_75.gif)}
.card_jp_76{background-image:url(cards/card_jp_76.gif)}
.card_jp_77{background-image:url(cards/card_jp_77.gif)}
.card_jp_78{background-image:url(cards/card_jp_78.gif)}
.card_jp_79{background-image:url(cards/card_jp_79.gif)}
.card_jp_80{background-image:url(cards/card_jp_80.gif)}
.card_jp_81{background-image:url(cards/card_jp_81.gif)}
.card_jp_82{background-image:url(cards/card_jp_82.gif)}
.card_jp_83{background-image:url(cards/card_jp_83.gif)}
.card_jp_84{background-image:url(cards/card_jp_84.gif)}
.card_jp_85{background-image:url(cards/card_jp_85.gif)}
.card_jp_86{background-image:url(cards/card_jp_86.gif)}

