main { background-color: dimgray; }

header { background-color: tan }
body.German header.your_turn { background-color: whitesmoke }
body.French header.your_turn { background-color: skyblue }

#role_German { background-color: silver }
#role_French { background-color: skyblue }

/* LOG */

#log { background-color: floralwhite; }
#log .h1 { background-color: tan; }
#log .h1, #log .h2 {
	padding: 2px 8px;
	border-top: 1px solid black;
	border-bottom: 1px solid black;
	margin: 8px 0;
	text-align: center;
}
#log .h2.german { background-color: gainsboro; }
#log .h2.french { background-color: lightblue; }

#log > .q { padding-left: 20px; font-style: italic; opacity: 75%; }
#log > .i { padding-left: 20px; }

#log .card-tip { cursor: pointer; font-style: italic }
#log .zone-tip { cursor: pointer; font-style: italic }

#log .die {
	display: inline-block;
	vertical-align: -2px;
	width: 12px;
	height: 12px;
	border-radius: 0px;
	box-shadow: none;
	border: none;
	background-size: 600% 100%;
	background-repeat: no-repeat;
}

#log .white {
	background-image: url(/images/die_black_pips.svg);
	background-color: #fff;
	border: 1px solid #444;
}

#log .black {
	background-image: url(/images/die_white_pips.svg);
	background-color: #666;
	border: 1px solid #222;
}

#log .red {
	background-image: url(/images/die_white_pips.svg);
	background-color: #c22;
	border: 1px solid #222;
}

#log .fm, #log .gm {
	text-align: right;
	margin-top: -18px;
	float: right;
	padding: 0 4px;
	text-indent: 0;
}

#log .fm { background-color: lightblue; }
#log .gm { background-color: gainsboro; }
#log .fm.dark { background-color: steelblue; }
#log .gm.dark { background-color: dimgray; }
#log .dark { color: white; font-weight: bold; }

.d0 { background-position: -100% 0 }
.d1 { background-position: 0% 0; }
.d2 { background-position: 20% 0; }
.d3 { background-position: 40% 0; }
.d4 { background-position: 60% 0; }
.d5 { background-position: 80% 0; }
.d6 { background-position: 100% 0; }

/* PANELS */

.panel {
	background-color: #0002;
	margin: 12px;
}

.panel-head {
	background-color: #0002;
	text-align: center;
	font-weight: bold;
	color: white;
}

.panel-body {
	min-height: 380px;
	min-width: 248px;
}

#panels {
	display: grid;
	grid-template-columns: 1fr;
	max-width: 2894px;
	margin: 0 auto;
}

@media (max-width: 1200px) {
	#panels {
		width: 2894px;
	}
}

#played_row { display: flex; flex-wrap: wrap; }
#french_permanent { flex-grow: 1; }
#german_permanent { flex-grow: 1; }

#played .panel-body {
	min-height: 380px;
	min-width: 380px;
	flex-direction: column-reverse;
	justify-content: start;
}

#played .panel-body .card.barrage {
	margin-bottom: -194px;
}

#played_row { grid-row: 1; }

body.French #french_hand { grid-row: 2; }
body.French #draw { grid-row: 3; }
body.French #german_hand { grid-row: 4; }

body.German #german_hand { grid-row: 2; }
body.German #draw { grid-row: 3; }
body.German #french_hand { grid-row: 4; }

#mapwrap {
	width: 2244px;
	height: 1452px;
}

#map {
	width: 2244px;
	height: 1452px;
	background-image: url(map75.jpg);
	background-size: 2244px 1452px;
}

/* SPACES */

.space.zone {
	box-sizing: border-box;
}

.space.zone.action {
	background-color: #0803;
	border: 4px solid #ff0;
}

.space.zone.select {
	border: 4px dashed aqua;
}

.space.zone.tip {
	border: 4px dashed lime;
}

path.zone {
	fill: transparent;
}

path.zone.action {
	fill: yellow;
	fill-opacity: 0.1;
	stroke: yellow;
}

path.zone.select {
	stroke: cyan;
	stroke-dasharray: 6 6;
}

path.zone.tip {
	stroke: lime;
	stroke-dasharray: 6 6;
}

/* CARDS */

#tooltip {
	position: fixed;
	z-index: 100;
	right: 240px;
	top: 60px;
}

.card {
	width: 246px;
	height: 378px;
	border: 1px solid black;
	border-radius: 16px;
}

.card.barrage {
	width: 378px;
	height: 246px;
}

.card.action {
	box-shadow: 0 0 0 3px white;
}

/* LAYOUT */

.layout.zone-units-g, .layout.zone-units-f {
	gap: 8px;
}

.unit.german { align-self: end; }
.unit.french { align-self: start; }

.layout.unit-pool {
	gap: 0px;
}

.layout.trench-pool {
	flex-direction: column;
	gap: 0px;
}

.layout.trench-pool .piece.trench:nth-child(even) {
	margin-left: 8px;
}

body.volko .layout.zone-units-g,
body.volko .layout.zone-units-f { gap: 4px; margin-left: -24px; }
body.volko .layout.unit-pool { gap: 0px; }

/* PIECES */

.piece {
	pointer-events: none;
}

.piece.action {
	pointer-events: auto;
}

.cylinder {width: 55px; height: 55px; margin: -23px -4px -4px -23px; }
.trench { width: 88px; height: 22px; margin: -8px -4px -4px -8px; }
.unit { width: 47px; height: 47px; margin: -23px -4px -4px -23px; }
.unit.volko { width: 57px; height: 37px; margin: -13px -4px -4px -13px; }
.unit.exhausted { width: 37px; height: 57px; margin: -13px -4px -4px -13px; }

.trench { border-radius: 0 10px }
.unit { border-radius: 0 25px }
.unit.volko { border-radius: 0 15px }
.unit.exhausted { border-radius: 0 10px }

.cylinder { background-image: url(pieces/cylinder.svg); }
.cylinder.german { background-image: url(pieces/cylinder_german.svg); }
.cylinder.french { background-image: url(pieces/cylinder_french.svg); }
.cylinder.action { background-image: url(pieces/cylinder.svg), url(pieces/cylinder_action.svg); }
.cylinder.german.action { background-image: url(pieces/cylinder_german.svg), url(pieces/cylinder_action.svg); }
.cylinder.french.action { background-image: url(pieces/cylinder_french.svg), url(pieces/cylinder_action.svg); }

.trench.german { background-image: url(pieces/trench_german.svg); }
.trench.french { background-image: url(pieces/trench_french.svg); }

.unit.german { background-image: url(pieces/block_german_fresh.svg); }
.unit.french { background-image: url(pieces/block_french_fresh.svg); }
.unit.german.volko { background-image: url(pieces/block_german_volko.svg); }
.unit.french.volko { background-image: url(pieces/block_french_volko.svg); }
.unit.exhausted.german { background-image: url(pieces/block_german_exhausted.svg); }
.unit.exhausted.french { background-image: url(pieces/block_french_exhausted.svg); }

.unit.german.action { background-image: url(pieces/block_german_fresh.svg), url(pieces/block_action_fresh.svg); }
.unit.french.action { background-image: url(pieces/block_french_fresh.svg), url(pieces/block_action_fresh.svg); }
.unit.german.action.volko { background-image: url(pieces/block_german_volko.svg), url(pieces/block_action_volko.svg); }
.unit.french.action.volko { background-image: url(pieces/block_french_volko.svg), url(pieces/block_action_volko.svg); }
.unit.exhausted.german.action { background-image: url(pieces/block_german_exhausted.svg), url(pieces/block_action_exhausted.svg); }
.unit.exhausted.french.action { background-image: url(pieces/block_french_exhausted.svg), url(pieces/block_action_exhausted.svg); }

.unit.german.select { background-image: url(pieces/block_german_fresh.svg), url(pieces/block_select_fresh.svg); }
.unit.french.select { background-image: url(pieces/block_french_fresh.svg), url(pieces/block_select_fresh.svg); }
.unit.german.select.volko { background-image: url(pieces/block_german_volko.svg), url(pieces/block_select_volko.svg); }
.unit.french.select.volko { background-image: url(pieces/block_french_volko.svg), url(pieces/block_select_volko.svg); }
.unit.exhausted.german.select { background-image: url(pieces/block_german_exhausted.svg), url(pieces/block_select_exhausted.svg); }
.unit.exhausted.french.select { background-image: url(pieces/block_french_exhausted.svg), url(pieces/block_select_exhausted.svg); }

/* MARKER IMAGES */

.zone-marker {
	pointer-events: none;
	width: 46px;
	height: 46px;
	border-radius: 50%;
	border: 1px solid black;
}

.zone-marker.control.german { background-image: url(markers75/control_german.png) }
.zone-marker.control.french { background-image: url(markers75/control_french.png) }
.zone-marker.vp.german { background-image: url(markers75/vp_german.png) }
.zone-marker.vp.french { background-image: url(markers75/vp_french.png) }
.zone-marker.supply1 { background-image: url(markers75/l1.png) }
.zone-marker.supply2 { background-image: url(markers75/l2.png) }

.marker.barrage {
	width: 48px;
	height: 48px;
	background-image: url(bang.svg);
	background-size: 100%;
	filter: drop-shadow(0 0 4px #000c);
}

.marker.turn {
	width: 60px;
	height: 60px;
	border: 1px solid black;
	border-radius: 50%;
}

.marker.us {
	background-size: 75px 75px;
	background-position: center;
	width: 66px;
	height: 66px;
	border: 1px solid black;
}

.marker.us.us_0 { background-image: url(markers75/us_0.png) }
.marker.us.us_1 { background-image: url(markers75/us_1.png) }
.marker.us.us_2 { background-image: url(markers75/us_2.png) }
.marker.us.us_3 { background-image: url(markers75/us_3.png) }
.marker.us.us_drm_0 { background-image: url(markers75/us_drm_0.png) }
.marker.us.us_drm_2 { background-image: url(markers75/us_drm_2.png) }
.marker.us.us_drm_3 { background-image: url(markers75/us_drm_3.png) }
.marker.us.us_drm_5 { background-image: url(markers75/us_drm_5.png) }

.marker.turn.month1 { background-image: url(markers75/month_1.png) }
.marker.turn.month2 { background-image: url(markers75/month_2.png) }

/* CARD IMAGES */

.card.back.german{background-image:url(cards96/card_back_german.jpg)}
.card.back.french{background-image:url(cards96/card_back_french.jpg)}
.card.c1{background-image:url(cards96/card_1.jpg)}
.card.c2{background-image:url(cards96/card_1.jpg)}
.card.c3{background-image:url(cards96/card_1.jpg)}
.card.c4{background-image:url(cards96/card_1.jpg)}
.card.c5{background-image:url(cards96/card_5.jpg)}
.card.c6{background-image:url(cards96/card_5.jpg)}
.card.c7{background-image:url(cards96/card_5.jpg)}
.card.c8{background-image:url(cards96/card_5.jpg)}
.card.c9{background-image:url(cards96/card_9.jpg)}
.card.c10{background-image:url(cards96/card_9.jpg)}
.card.c11{background-image:url(cards96/card_9.jpg)}
.card.c12{background-image:url(cards96/card_9.jpg)}
.card.c13{background-image:url(cards96/card_13.jpg)}
.card.c14{background-image:url(cards96/card_13.jpg)}
.card.c15{background-image:url(cards96/card_15.jpg)}
.card.c16{background-image:url(cards96/card_16.jpg)}
.card.c17{background-image:url(cards96/card_17.jpg)}
.card.c18{background-image:url(cards96/card_18.jpg)}
.card.c19{background-image:url(cards96/card_18.jpg)}
.card.c20{background-image:url(cards96/card_20.jpg)}
.card.c21{background-image:url(cards96/card_21.jpg)}
.card.c22{background-image:url(cards96/card_22.jpg)}
.card.c23{background-image:url(cards96/card_23.jpg)}
.card.c24{background-image:url(cards96/card_24.jpg)}
.card.c25{background-image:url(cards96/card_25.jpg)}
.card.c26{background-image:url(cards96/card_26.jpg)}
.card.c27{background-image:url(cards96/card_27.jpg)}
.card.c28{background-image:url(cards96/card_28.jpg)}
.card.c29{background-image:url(cards96/card_29.jpg)}
.card.c30{background-image:url(cards96/card_30.jpg)}
.card.c31{background-image:url(cards96/card_31.jpg)}
.card.c32{background-image:url(cards96/card_32.jpg)}
.card.c33{background-image:url(cards96/card_33.jpg)}
.card.c34{background-image:url(cards96/card_34.jpg)}
.card.c35{background-image:url(cards96/card_35.jpg)}
.card.c36{background-image:url(cards96/card_36.jpg)}
.card.c37{background-image:url(cards96/card_37.jpg)}
.card.c38{background-image:url(cards96/card_38.jpg)}
.card.c39{background-image:url(cards96/card_39.jpg)}
.card.c40{background-image:url(cards96/card_40.jpg)}
.card.c41{background-image:url(cards96/card_41.jpg)}
.card.c42{background-image:url(cards96/card_42.jpg)}
.card.c43{background-image:url(cards96/card_43.jpg)}
.card.c44{background-image:url(cards96/card_44.jpg)}
.card.c45{background-image:url(cards96/card_45.jpg)}
.card.c46{background-image:url(cards96/card_46.jpg)}
.card.c47{background-image:url(cards96/card_47.jpg)}
.card.c48{background-image:url(cards96/card_48.jpg)}
.card.c49{background-image:url(cards96/card_48.jpg)}
.card.c50{background-image:url(cards96/card_50.jpg)}
.card.c51{background-image:url(cards96/card_51.jpg)}
.card.c52{background-image:url(cards96/card_52.jpg)}
.card.c53{background-image:url(cards96/card_52.jpg)}
.card.c54{background-image:url(cards96/card_52.jpg)}
.card.c55{background-image:url(cards96/card_52.jpg)}
.card.c56{background-image:url(cards96/card_56.jpg)}
.card.c57{background-image:url(cards96/card_56.jpg)}
.card.c58{background-image:url(cards96/card_56.jpg)}
.card.c59{background-image:url(cards96/card_59.jpg)}
.card.c60{background-image:url(cards96/card_60.jpg)}
.card.c61{background-image:url(cards96/card_61.jpg)}
.card.c62{background-image:url(cards96/card_61.jpg)}
.card.c63{background-image:url(cards96/card_61.jpg)}
.card.c64{background-image:url(cards96/card_64.jpg)}
.card.c65{background-image:url(cards96/card_64.jpg)}
.card.c66{background-image:url(cards96/card_66.jpg)}
.card.c67{background-image:url(cards96/card_66.jpg)}
.card.c68{background-image:url(cards96/card_68.jpg)}
.card.c69{background-image:url(cards96/card_69.jpg)}
.card.c70{background-image:url(cards96/card_70.jpg)}
.card.c71{background-image:url(cards96/card_71.jpg)}
.card.c72{background-image:url(cards96/card_72.jpg)}
.card.c73{background-image:url(cards96/card_73.jpg)}
.card.c74{background-image:url(cards96/card_74.jpg)}
.card.c75{background-image:url(cards96/card_75.jpg)}
.card.c76{background-image:url(cards96/card_76.jpg)}
.card.c77{background-image:url(cards96/card_77.jpg)}
.card.c78{background-image:url(cards96/card_78.jpg)}
.card.c79{background-image:url(cards96/card_79.jpg)}
.card.c80{background-image:url(cards96/card_80.jpg)}
.card.c81{background-image:url(cards96/card_81.jpg)}
.card.c82{background-image:url(cards96/card_82.jpg)}
.card.c83{background-image:url(cards96/card_83.jpg)}
.card.c84{background-image:url(cards96/card_84.jpg)}
.card.c85{background-image:url(cards96/card_85.jpg)}
.card.c86{background-image:url(cards96/card_86.jpg)}
.card.c87{background-image:url(cards96/card_87.jpg)}
.card.c88{background-image:url(cards96/card_88.jpg)}
.card.c89{background-image:url(cards96/card_89.jpg)}
.card.c90{background-image:url(cards96/card_90.jpg)}
.card.c91{background-image:url(cards96/card_91.jpg)}
.card.c92{background-image:url(cards96/card_92.jpg)}
.card.c93{background-image:url(cards96/card_92.jpg)}
.card.c94{background-image:url(cards96/card_92.jpg)}
.card.c95{background-image:url(cards96/card_92.jpg)}
.card.c96{background-image:url(cards96/card_96.jpg)}
.card.c97{background-image:url(cards96/card_96.jpg)}
.card.c98{background-image:url(cards96/card_96.jpg)}
.card.c99{background-image:url(cards96/card_99.jpg)}
.card.c100{background-image:url(cards96/card_100.jpg)}
