main { background-color: dimgray; }

header { background-color: tan }

/* LOG */

#log { background-color: floralwhite; }
#log .h1 { background-color: tan; }
#log .h1, #log .h2 {
	padding: 2px 8px;
	border-top: 1px solid black;
	border-bottom: 1px solid black;
	margin: 8px 0;
	text-align: center;
}

#log > .q { padding-left: 20px; font-style: italic; opacity: 75%; }
#log > .i { padding-left: 20px; }

#log .card-tip { cursor: pointer; font-style: italic }
#log .zone-tip { cursor: pointer; font-style: italic }

#log .die {
	display: inline-block;
	vertical-align: -2px;
	width: 12px;
	height: 12px;
	border-radius: 0px;
	box-shadow: none;
	border: none;
	background-size: 600% 100%;
	background-repeat: no-repeat;
}

#log .white {
	background-image: url(/images/die_black_pips.svg);
	background-color: #fff;
	border: 1px solid #444;
}

#log .black {
	background-image: url(/images/die_white_pips.svg);
	background-color: #666;
	border: 1px solid #222;
}

#log .red {
	background-image: url(/images/die_white_pips.svg);
	background-color: #c22;
	border: 1px solid #222;
}

#log .fm, #log .gm {
	text-align: right;
	margin-top: -18px;
	float: right;
	padding: 0 4px;
	text-indent: 0;
}

#log .fm { background-color: lightblue; }
#log .gm { background-color: gainsboro; }
#log .fm.dark { background-color: steelblue; }
#log .gm.dark { background-color: dimgray; }
#log .dark { color: white; font-weight: bold; }

.d0 { background-position: -100% 0 }
.d1 { background-position: 0% 0; }
.d2 { background-position: 20% 0; }
.d3 { background-position: 40% 0; }
.d4 { background-position: 60% 0; }
.d5 { background-position: 80% 0; }
.d6 { background-position: 100% 0; }

/* PANELS */

.panel {
	background-color: #0002;
	margin: 12px;
}

.panel-head {
	background-color: #0002;
	text-align: center;
	font-weight: bold;
	color: white;
}

.panel-body {
	min-height: 380px;
	min-width: 248px;
}

#panels {
	display: grid;
	grid-template-columns: 1fr;
	max-width: 2894px;
	margin: 0 auto;
}

@media (max-width: 1200px) {
	#panels {
		width: 2894px;
	}
}

#played .panel-body .card.barrage {
	margin-bottom: -194px;
}

#played_row { grid-row: 1; }

body.Japan #jp_hand { grid-row: 2; }
body.Japan #ap_hand { grid-row: 4; }

body.Allies #ap_hand { grid-row: 2; }
body.Allies #jp_hand { grid-row: 4; }

#mapwrap {
	width: 2290px;
	height: 1490px;
}

#canvas {
	width: 2290px;
	height: 1490px;
	position: absolute;
	z-index: 1;
	pointer-events: none;
}

#map {
	width: 2290px;
	height: 1490px;
	background-image: url(map75.jpg);
	background-size: 2290px 1490px;
}

/* CARDS */

#tooltip {
	position: fixed;
	z-index: 100;
	right: 240px;
	top: 60px;
}

.card {
	width: 250px;
	height: 350px;
	border-radius: 16px;
	box-shadow: 1px 1px 4px #0004;
	transition: transform 100ms;
	background-color: white;
	background-size: 100%;
	background-repeat: no-repeat;
	border: 1px solid black;
}

.card.action {
	box-shadow: 0 0 0 3px yellow;
}

/* PIECES */

.piece {
	/*pointer-events: none;*/
}


.piece.action {
	pointer-events: auto;
	border-color: yellow;!important;
	box-shadow: 0 0 2px black, inset 0 0 2px black;
	border-width: 4px;
	/*box-shadow: 0 0 0 3px lime; border-color: #000;*/
}

.unit, .marker{
	transition: left 200ms, top 200ms;
	position: absolute;
	background-size: auto 100%;
	background-repeat: no-repeat;
	border-radius: 5px;
	width:35px;
	height:35px;
}

/* MARKER IMAGES */

.unit_ix_1 { background-position: 0px 0px; }
.unit_ix_2 { background-position: -34px 0px; }
.unit_ix_3 { background-position: -68px 0px; }
.unit_ix_4 { background-position: -102px 0px; }
.unit_ix_5 { background-position: -136px 0px; }
.unit_ix_6 { background-position: -170px 0px; }
.unit_ix_7 { background-position: -204px 0px; }
.unit_ix_8 { background-position: -238px 0px; }
.unit_ix_9 { background-position: -272px 0px; }
.unit_ix_10 { background-position: -306px 0px; }
.unit_ix_11 { background-position: -340px 0px; }
.unit_ix_12 { background-position: -374px 0px; }
.unit_ix_13 { background-position: -408px 0px; }
.unit_ix_14 { background-position: -442px 0px; }
.unit_ix_15 { background-position: -476px 0px; }
.unit_ix_16 { background-position: -510px 0px; }

.unit_ix_1.reduced { background-position: 0px -35px; }
.unit_ix_2.reduced { background-position: -34px -35px; }
.unit_ix_3.reduced { background-position: -68px -35px; }
.unit_ix_4.reduced { background-position: -102px -35px; }
.unit_ix_5.reduced { background-position: -136px -35px; }
.unit_ix_6.reduced { background-position: -170px -35px; }
.unit_ix_7.reduced { background-position: -204px -35px; }
.unit_ix_8.reduced { background-position: -238px -35px; }
.unit_ix_9.reduced { background-position: -272px -35px; }
.unit_ix_10.reduced { background-position: -306px -35px; }
.unit_ix_11.reduced { background-position: -340px -35px; }
.unit_ix_12.reduced { background-position: -374px -35px; }
.unit_ix_13.reduced { background-position: -408px -35px; }
.unit_ix_14.reduced { background-position: -442px -35px; }
.unit_ix_15.reduced { background-position: -476px -35px; }
.unit_ix_16.reduced { background-position: -510px -35px; }