main { background-color: dimgray; }

header { background-color: tan }
body.German header.your_turn { background-color: whitesmoke }
body.French header.your_turn { background-color: skyblue }

#role_German { background-color: silver }
#role_French { background-color: skyblue }

/* LOG */

#log { background-color: floralwhite; }
#log .h1 { background-color: tan; }
#log .h1, #log .h2 {
	padding: 2px 8px;
	border-top: 1px solid black;
	border-bottom: 1px solid black;
	margin: 8px 0;
	text-align: center;
}
#log .h2.german { background-color: gainsboro; }
#log .h2.french { background-color: lightblue; }

#log > .q { padding-left: 20px; font-style: italic; opacity: 75%; }
#log > .i { padding-left: 20px; }

#log .card-tip { cursor: pointer; font-style: italic }
#log .zone-tip { cursor: pointer; font-style: italic }

#log .die {
	display: inline-block;
	vertical-align: -2px;
	width: 12px;
	height: 12px;
	border-radius: 0px;
	box-shadow: none;
	border: none;
	background-size: 600% 100%;
	background-repeat: no-repeat;
}

#log .white {
	background-image: url(/images/die_black_pips.svg);
	background-color: #fff;
	border: 1px solid #444;
}

#log .black {
	background-image: url(/images/die_white_pips.svg);
	background-color: #666;
	border: 1px solid #222;
}

#log .red {
	background-image: url(/images/die_white_pips.svg);
	background-color: #c22;
	border: 1px solid #222;
}

#log .fm, #log .gm {
	text-align: right;
	margin-top: -18px;
	float: right;
	padding: 0 4px;
	text-indent: 0;
}

#log .fm { background-color: lightblue; }
#log .gm { background-color: gainsboro; }
#log .fm.dark { background-color: steelblue; }
#log .gm.dark { background-color: dimgray; }
#log .dark { color: white; font-weight: bold; }

.d0 { background-position: -100% 0 }
.d1 { background-position: 0% 0; }
.d2 { background-position: 20% 0; }
.d3 { background-position: 40% 0; }
.d4 { background-position: 60% 0; }
.d5 { background-position: 80% 0; }
.d6 { background-position: 100% 0; }

/* PANELS */

.panel {
	background-color: #0002;
	margin: 12px;
}

.panel-head {
	background-color: #0002;
	text-align: center;
	font-weight: bold;
	color: white;
}

.panel-body {
	min-height: 380px;
	min-width: 248px;
}

#panels {
	display: grid;
	grid-template-columns: 1fr;
	max-width: 2894px;
	margin: 0 auto;
}

@media (max-width: 1200px) {
	#panels {
		width: 2894px;
	}
}

#played_row { display: flex; flex-wrap: wrap; }
#french_permanent { flex-grow: 1; }
#german_permanent { flex-grow: 1; }

#played .panel-body {
	min-height: 380px;
	min-width: 380px;
	flex-direction: column-reverse;
	justify-content: start;
}

#played .panel-body .card.barrage {
	margin-bottom: -194px;
}

#played_row { grid-row: 1; }

body.Japan #jp_hand { grid-row: 2; }
body.Japan #ap_hand { grid-row: 4; }

body.Alies #ap_hand { grid-row: 2; }
body.Alies #jp_hand { grid-row: 4; }

#mapwrap {
	width: 2244px;
	height: 1452px;
}

#map {
	width: 2244px;
	height: 1452px;
	background-image: url(map75.jpg);
	background-size: 2244px 1452px;
}

/* SPACES */

.space.zone {
	box-sizing: border-box;
}

.space.zone.action {
	background-color: #0803;
	border: 4px solid #ff0;
}

.space.zone.select {
	border: 4px dashed aqua;
}

.space.zone.tip {
	border: 4px dashed lime;
}

path.zone {
	fill: transparent;
}

path.zone.action {
	fill: yellow;
	fill-opacity: 0.1;
	stroke: yellow;
}

path.zone.select {
	stroke: cyan;
	stroke-dasharray: 6 6;
}

path.zone.tip {
	stroke: lime;
	stroke-dasharray: 6 6;
}

/* CARDS */

#tooltip {
	position: fixed;
	z-index: 100;
	right: 240px;
	top: 60px;
}

.card {
	width: 250px;
	height: 350px;
	border-radius: 16px;
	box-shadow: 1px 1px 4px #0004;
	transition: transform 100ms;
	background-color: white;
	background-size: 100%;
	background-repeat: no-repeat;
	border: 1px solid black;
}

.card.barrage {
	width: 378px;
	height: 246px;
}

.card.action {
	box-shadow: 0 0 0 3px white;
}

/* LAYOUT */

.layout.zone-units-g, .layout.zone-units-f {
	gap: 8px;
}


.layout.unit-pool {
	gap: 0px;
}

.layout.trench-pool {
	flex-direction: column;
	gap: 0px;
}

.layout.trench-pool .piece.trench:nth-child(even) {
	margin-left: 8px;
}

body.volko .layout.zone-units-g,
body.volko .layout.zone-units-f { gap: 4px; margin-left: -24px; }
body.volko .layout.unit-pool { gap: 0px; }

/* PIECES */

.piece {
	/*pointer-events: none;*/
}

.piece.action {
	pointer-events: auto;
	border-color: yellow;
	box-shadow: 0 0 3px black, inset 0 0 3px black;
}

.cylinder {width: 55px; height: 55px; margin: -23px -4px -4px -23px; }
.trench { width: 88px; height: 22px; margin: -8px -4px -4px -8px; }


.trench { border-radius: 0 10px }
.unit { border-radius: 0 25px }
.unit.volko { border-radius: 0 15px }
.unit.exhausted { border-radius: 0 10px }

.cylinder { background-image: url(pieces/cylinder.svg); }
.cylinder.german { background-image: url(pieces/cylinder_german.svg); }
.cylinder.french { background-image: url(pieces/cylinder_french.svg); }
.cylinder.action { background-image: url(pieces/cylinder.svg), url(pieces/cylinder_action.svg); }
.cylinder.german.action { background-image: url(pieces/cylinder_german.svg), url(pieces/cylinder_action.svg); }
.cylinder.french.action { background-image: url(pieces/cylinder_french.svg), url(pieces/cylinder_action.svg); }

.trench.german { background-image: url(pieces/trench_german.svg); }
.trench.french { background-image: url(pieces/trench_french.svg); }

.unit{
	transition: left 200ms, top 200ms;
	position: absolute;
	background-size: auto 100%;
	background-repeat: no-repeat;
	border-radius: 5px;
	width:35px;
	height:35px;
}

/* MARKER IMAGES */

.zone-marker {
	pointer-events: none;
	width: 46px;
	height: 46px;
	border-radius: 50%;
	border: 1px solid black;
}

.zone-marker.control.german { background-image: url(markers75/control_german.png) }
.zone-marker.control.french { background-image: url(markers75/control_french.png) }
.zone-marker.vp.german { background-image: url(markers75/vp_german.png) }
.zone-marker.vp.french { background-image: url(markers75/vp_french.png) }
.zone-marker.supply1 { background-image: url(markers75/l1.png) }
.zone-marker.supply2 { background-image: url(markers75/l2.png) }

.marker.barrage {
	width: 48px;
	height: 48px;
	background-image: url(bang.svg);
	background-size: 100%;
	filter: drop-shadow(0 0 4px #000c);
}

.marker.turn {
	width: 60px;
	height: 60px;
	border: 1px solid black;
	border-radius: 50%;
}

.marker.us {
	background-size: 75px 75px;
	background-position: center;
	width: 66px;
	height: 66px;
	border: 1px solid black;
}